
<h4>LOS 5 MÁS POPULARES DE HOY</h4>
<section>
<figure>
    <span>1</span>
    <img src="../../../assets/Top10/1-papel.webp" alt="">
</figure>

<figure>
    <span>2</span>
    <img src="../../../assets/Top10/3-titanes.webp">
</figure>

<figure>
    <span>3</span>
    <img src="../../../assets/Top10/4-lostinspace.webp">
</figure>

<figure>
    <span>4</span>
    <img src="../../../assets/Top10/5-dondecaben.webp">
</figure>

<figure>
    <span>5</span>
    <img src="../../../assets/Top10/9-poder.webp">
</figure>

</section>
