<header>
    <div>
      <nav>
        <ul class="b-navigationmenu">
          <li><img src="../../../assets/netflix.png" alt=""></li>
          <li><a href="">Inicio</a></li>
          <li><a href="">Series</a></li>
          <li><a href="">Películas</a></li>
          <li><a href="">Kids</a></li>
          <li><a href="">Mi lista</a></li>
        </ul>
      </nav>
    </div>
    <div>
      <ul class="b-iconlist">
        <li>
          <a href="#hero">
            <img src="./assets/buscar.png" alt="Lupa" />
          </a>
        </li>
        <li>
          <a href="">
            <img src="./assets/avatar.png" alt="Avatar" />
          </a>
        </li>
      </ul>
    </div>
  </header>
